<ul class="nav" role="menu">
    <li class="nav-home" role="menuitem"><a href="{{site.baseurl}}">Home</a></li>
    <li class="nav-talks" role="menuitem"><a href="{{site.baseurl}}tag/architecture/">Arch</a></li>
    <li class="nav-talks" role="menuitem"><a href="{{site.baseurl}}tag/coroutines/">Coroutines</a></li>
    <li class="nav-talks" role="menuitem"><a href="{{site.baseurl}}tag/dagger/">Dagger</a></li>
    <li class="nav-talks" role="menuitem"><a href="{{site.baseurl}}tag/hilt/">Hilt</a></li>
    <li class="nav-talks" role="menuitem"><a href="{{site.baseurl}}tag/talks/">Talks</a></li>
    <li class="nav-publicspeaking" role="menuitem"><a href="{{site.baseurl}}publicspeaking/">Public Speaking</a></li>
    <li class="nav-about" role="menuitem"><a href="{{site.baseurl}}about/">About</a></li>
    <li class="nav-gallery" role="menuitem"><a href="{{site.baseurl}}gallery/">Gallery</a></li>
</ul>